{{define "title"}}Login{{end}}

{{define "body"}}
<div class="w-lg">
    <div class="w-full mx-auto max-w-xs pt-12">
        <h1 class="pb-8 text-3xl text-center">Tesla PI</h1>
        <form class="bg-white shadow-md px-8 pt-6 pb-8 mb-4" id="login" method="POST" action="http://localhost:3000/api/login">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input
                    class="shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input
                    class="shadow appearance-none border w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                    type="submit">
                    Sign In
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                    Forgot Password?
                </a>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2019 Tesla PI. All rights reserved.
        </p>
    </div>
</div>

<script type="text/javascript">
    var form = document.getElementById('login');
    form.addEventListener("submit", processForm);
    var action = form.getAttribute('action');

    function processForm(e) {
        e.preventDefault();

        console.log(e.target);

        return false;
    }
</script>
{{end}}
